---
apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  namespace: databases
  annotations:
    external-dns.alpha.kubernetes.io/hostname: postgres.bharris.vip
    io.cilium/lb-ipam-ips: 10.0.111.26
spec:
  type: LoadBalancer
  externalTrafficPolicy: Cluster
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    postgresql: postgres
    role: primary
